<!DOCTYPE html>
<html>
    <head>
        <title>Página ASP.NET</title>
    </head>
    <body>
        
        <!-- Header -->
        @RenderPage("~/Shared/_header.cshtml")

        <!-- Section -->
        @RenderBody()

        <!-- Footer -->
        @RenderPage("~/Shared/_footer.cshtml")

    </body>
</html>
