body {
    background-color: #cceecc;
}

.section-style {
    background-color: #fff;
    margin-top: 50px;
    padding: 30px 20px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-shadow: 2px 3px 4px #aaa;
}

.section-style div.row div.col-sm-12 {
    display: inline;
    margin: 10px auto;
}

.style {
    border: 1px solid #000;
    border-radius: 100%;
    display: table;
    width: 85px;
    height: 100px;
    transition: height .3s;
}

.style:hover {
    height: 80px;
}

.num {
    text-align: center;
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
}

.title {
    text-align: center;
    font-size: 25px;
    background-color: #007700;
    color: #fff;
    padding: 15px 0px;
}

.btn {
    color: #fff;
    background-color: #007700;
    margin: 30px auto;
    display: block;
    width: 150px;
}

    .btn:hover {
        color: #fff;
        background-color: #44aa44;
    }

.linha {
    display: inline;
    margin: 0px auto;
}

    .linha div {
        display: inline-block;
        margin: 10px 5px
    }